# In creating an application that can be easily distributed we will use this command to download any dependencies that are needed
#
# The documentation is located https://pip.pypa.io/en/stable/user_guide/#requirements-files
# Running the bellow command will result in pip3 installing the needed dependencies on to the machine
# pip3 install -r requirements.txt

# below outlines the way this file should be setup minus the leading # which is how things are commented out

###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
#docopt == 0.6.1             # Version Matching. Must be version 0.6.1
#keyring >= 4.1.1            # Minimum version 4.1.1
#coverage != 3.5             # Version Exclusion. Anything except version 3.5
#Mopidy-Dirble ~= 1.1        # Compatible release. Same as >= 1.1, == 1.*
#
###### Refer to other requirements files ######
#-r other-requirements.txt